<div class="footer-sec">
 <div class="row">
 <div class="large-3 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Quick Links</h4>
 <ul>
 <li><a href="/" title="Home">Home</a></li>
 <li><a href="/#about" title="#about Us">About Us</a></li>
 <li><a href="/faq" title="FAQs">FAQ</a></li>
 <li><a href="/register" title="Services">Register</a></li>
 <li><a href="/#contact" title="Contact">Contact</a></li>
  <li><a href="/login" title="Services">Login</a></li>
   <li><a href="/fastteams" title="Services">Fast Teams</a></li>
    <li><a href="/howitworks" title="Services">Compensation Plan</a></li>
 </ul>
 </div>
 </div>
 <div class="large-3 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>Social Media</h4>
 <ul>
 <div style = "color: blue">
	<big><li><a href="https://facebook.com/swiftrevolver" title="Facebook"><i class="ti-facebook"></i></a></li></big>
</div>
<div style = "color: white">
	<big><li><a href="http://twitter.com/swiftrevolver" title="Twitter"></a><i class="ti-twitter"></li></i></big>
</div>
<div style = "color: red">
	<big><i class="ti-google-plus"><li><a href="/#" title="Google-plus"></a></li></i></big>
</div>
 </ul>
 </div>
 </div>
<!--<div class="large-3 medium-3 small-12 columns">
 <div class="foot-1">
 <h4>OUR PATNERS</h4>
 <ul>
 <li><a href="/#" title="Home">KellyDex</a></li>
 <li><a href="/#" title="Home">KellyDex</a></li>
 </ul>
 </div>
 </div>-->
 </div>
 </div>
<div class="copy">
 <div class="row">
 <div class="large-6 columns"><p>
 Copyright &copy; 2018 - <script>document.write(new Date().getFullYear());</script>  SWIFT REVOLVER. All Rights Reserved. <a href="/">SWIFT REVOLVER</a> 
 </div>
 <div class="large-6 columns">
 Website development by <a href = "https://cheapwebscripts.xyz" target ="_blank"> CHEAP WEB SCRIPTS </a> </div>
 </div></p>

 </div>
 
 
    
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script type="text/javascript" src="/js/all.js"></script>
    <script type="text/javascript" src="/slick/slick.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
     <script type="text/javascript" src="/js/countdown.js"></script>
    
    
  </body>
</html>